@use './normalize';
@use '@shared/styles' as *; // токены + переменные

html {
  scrollbar-gutter: auto;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: var(--color-background-app-base);
  color: var(--color-text-app-base);
}