.Game {
  width: 100%;
  display: grid;
  row-gap: 20px;
  column-gap: 50px;
  grid-template-columns: 1fr 300px;
 // grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "status status"
    "board steps";

  &_Status {
    grid-area: status;
    padding: 10px;
    font-size: 30px ;
    border-radius: 20px;
    background-color: var(--color-bg-secondary);
  }

  &_Board {
    grid-area: board;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 770px;
    border-radius: 20px;
    background-color: var(--color-bg-secondary);
  }

}

.Game_Info {
  grid-area: steps;
  border-radius: 20px;
  background-color: var(--color-bg-secondary);
  padding: 10px;

  ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 26px;
  }

}

@media (max-width: 1020px) {
.Game {
  grid-template-columns: 1fr;
  grid-template-areas:
    "status"
    "board"
    "steps";
}
  .Game_Board {
    min-height: 330px;
  }
}