/*
│   ├── _variables.scss        // базовые переменные (spacing, radius, z-index, durations)
│   ├── _mixins.scss           // миксины
│   ├── _functions.scss        // функции (например, генерация цветов)
│   └── _reset.scss            // normalize/reset

*/