/*
│   ├── _variables.scss        // базовые переменные (spacing, radius, z-index, durations)
│   ├── _mixins.scss           // миксины
│   ├── _functions.scss        // функции (например, генерация цветов)
│   └── _reset.scss            // normalize/reset

*/

@use '../tokens/space' as space;
@use '../tokens/radius' as radius;
@use '../tokens/themes'; // внутри уже цвета и т.п.

:root {
  @include space.space-vars();
  @include radius.radius-vars();
  // если нужно — типографика, z-index и прочие токены
}