.Header {
  width: var(--size-full);
  background-color: var(--color-bg-primary);
  padding: var(--space-sm);
}

.Header_Content {
  width: var(--size-full);
  max-width: var(--container-max);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: var(--space-sm);
  align-items: center;
  justify-content: space-between;
}

.Header_Actions {
  display: flex;
  gap: var(--space-sm);
}