.Header {
  width: var(--size-full);
  background-color: var(--color-bg-primary);
  padding: var(--space-sm);

  &_Content {
    width: var(--size-full);
    max-width: var(--container-max);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: var(--space-sm);
    align-items: center;
    justify-content: space-between;
  }

  &_Actions {
    display: flex;
    gap: var(--space-sm);
  }

  &_Logo {
    width: 90px;
    height: 90px;
  }

}

@media (max-width: 860px) {
  .Header_Logo {
    width: 75px;
    height: 75px;
  }
}
