.PageLayout {
  min-height: 100vh;
  width: var(--size-full);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PageLayout_Header {
  width: var(--size-full);
}
.PageLayout_Main {
  width: var(--size-full);
  max-width: var(--container-max);
  padding-block: var(--space-xxl);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PageLayout_Footer {
  width: var(--size-full);
}

