.PageLayout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PageLayout_Header {
  width: 100%;
}
.PageLayout_Main {
  padding-block: 50px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: var(--container-max);
  align-items: center;
}
.PageLayout_Footer {
  width: 100%;
}

