.PageLayout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PageLayout_Header {
  width: 100%;
}
.PageLayout_Main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}
.PageLayout_Footer {
  width: 100%;
}

