.Button {
  text-align: left;
  padding: 10px;
  font-size: 26px;
  line-height: 1;
  background-color: var(--color-bg-button);
  //color: inherit;
  border-radius: 10px;
  height: fit-content;
  border: 2px solid var(--color-border);
  color: var(--color-border);
}

.Button:hover {
  background-color: var(--color-bg-button-hover);
}

.Button:active {
  background-color: var(--color-bg-button-active);
}

.Button_width_full {
  width: 100%;
}

.Button_accent {
  background-color: var(--color-accent);
  &:hover {
    background-color: var(--color-accent-hover);
  }
  &:active {
    background-color: var(--color-accent-active);
  }
}

.Button_alignText_center {
  text-align: center;
}