.Board {
  &_Row:after {
    clear: both;
    content: '';
    display: table;
  }

  &_Status {
    margin-bottom: 80px;
  }


}

.Board_Square {
  background-color: var(--color-bg-button);
  color: inherit;
  float: left;
  font-size: 150px;
  font-weight: bold;
  line-height: 200px;
  height: 200px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.Board_Square:hover {
  background: var(--color-bg-button-hover);
}

.Board_Square_filled:hover {
  background: #fff;
}

.Board_Square_highlighted {
  background: rgb(220, 132, 240);
}

@media (max-width: 670px) {
  .Board_Square {
    font-size: 45px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
    width: 100px;
  }

}