@use "core/normalize";
//@import "core/functions";
//@import "core/mixins";
@use "core/variables";

@use "tokens/palettes";
@use "tokens/semantic";
@use "tokens/themes";
@use "tokens/size";

//@import "components/button";
//@import "components/card";
//@import "components/input";

html {
  scrollbar-gutter: auto;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: var(--color-bg); // ← вот тут фон приложения
  color: var(--color-text);

  //color: var(--text-primary);
 // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}