/*
├── tokens/
│   ├── _palettes.scss         // сыровые палитры (primary-10…90, neutral-10…90)
│   ├── _semantic.scss         // семантические токены (color-bg, color-text, border...)
│   └── _themes.scss           // карты тем + генерация .theme-light, .theme-dark и т.д.

*/

$themes: (
        light: (
                'white': (
                        50: #ffffff
                ),
                'black':  (
                        50: #000000
                ),
                base: (
                        10: #F5F5F5,
                        20: #EBEBEB,
                        30: #B8B8B8,
                        40: #A3A3A3,
                        50: #8F8F8F,
                        60: #7A7A7A,
                        70: #5C5C5C,
                        80: #999999,
                        90: #888888,
                ),
                primary: (
                        10: #0055FF,
                        90: #003ABBFF
                ),
                secondary: (
                        10: #00ffbb,
                        90: #00bb8f
                ),
                accent: (
                        10: #d7ff48,
                        90: #8c8f33
                ),
                neutral: (
                        10: #ffffff,
                        90: #000000
                ),
                error: (
                        10: #FF4848,
                        90: #8F3333
                ),
                success: (
                        10: #7cff48,
                        90: #67d05b
                ),
                warn: (
                        10: #ffda48,
                        90: #8f8333
                )
        ),
        dark: (
                'white': (
                        50: #ffffff
                ),
                'black':  (
                        50: #000000
                ),
                base: (
                        10: #E6E6E6,
                        20: #CCCCCC,
                        30: #B3B3B3,
                        40: #999999,
                        50: #7F7F7F,
                        60: #666666,
                        70: #4C4C4C,
                        80: #333333,
                        90: #191919,
                ),
                primary: (
                        10: #0055FF,
                        90: #003ABBFF
                ),
                secondary: (
                        10: #00ffbb,
                        90: #00bb8f
                ),
                accent: (
                        10: #d7ff48,
                        90: #8c8f33
                ),
                neutral: (
                        10: #ffffff,
                        90: #000000
                ),
                error: (
                        10: #FF4848,
                        90: #8F3333
                ),
                success: (
                        10: #7cff48,
                        90: #67d05b
                ),
                warn: (
                        10: #ffda48,
                        90: #8f8333
                )
        ),
        cold: (
                'white': (
                        50: #ffffff
                ),
                'black':  (
                        50: #000000
                ),
                base: (
                        10: #EBF1F5,
                        20: #E2E8EB,
                        30: #B0B5B8,
                        40: #969EA3,
                        50: #838B8F,
                        60: #71777A,
                        70: #54595C,
                        80: #383C3D,
                        90: #1C1E1F,
                ),
                primary: (
                        10: #b700ff,
                        90: #9200bb
                ),
                secondary: (
                        10: #ff9100,
                        90: #bb7000
                ),
                accent: (
                        10: #d7ff48,
                        90: #8c8f33
                ),
                neutral: (
                        10: #ffffff,
                        90: #000000
                ),
                error: (
                        10: #FF4848,
                        90: #8F3333
                ),
                success: (
                        10: #7cff48,
                        90: #67d05b
                ),
                warn: (
                        10: #ffda48,
                        90: #8f8333
                )
        ),
        warm: (
                'white': (
                        50: #ffffff
                ),
                'black':  (
                        50: #000000
                ),
                base: (
                        10: #F1EBF5,
                        20: #E8E2EB,
                        30: #B5B0B8,
                        40: #9E96A3,
                        50: #8B838F,
                        60: #77717A,
                        70: #59545C,
                        80: #3C383D,
                        90: #1E1C1F,
                ),
                primary: (
                        10: #b700ff,
                        90: #9200bb
                ),
                secondary: (
                        10: #ff9100,
                        90: #bb7000
                ),
                accent: (
                        10: #d7ff48,
                        90: #8c8f33
                ),
                neutral: (
                        10: #ffffff,
                        90: #000000
                ),
                error: (
                        10: #FF4848,
                        90: #8F3333
                ),
                success: (
                        10: #7cff48,
                        90: #67d05b
                ),
                warn: (
                        10: #ffda48,
                        90: #8f8333
                )
        ),
);
