/*
├── tokens/
│   ├── _palettes.scss         // сыровые палитры (primary-10…90, neutral-10…90)
│   ├── _semantic.scss         // семантические токены (color-bg, color-text, border...)
│   └── _themes.scss           // карты тем + генерация .theme-light, .theme-dark и т.д.
*/

$themes: (
        light: (
                base: (
                        10: #F5F5F5,
                        20: #EBEBEB,
                        30: #B8B8B8,
                        40: #A3A3A3,
                        50: #8F8F8F,
                        60: #7A7A7A,
                        70: #5C5C5C,
                        80: #3D3D3D,
                        90: #1F1F1F,
                ),
                primary: (
                        10: #0055FF,
                        90: #003ABBFF
                ),
                secondary: (
                        10: #00ffbb,
                        90: #00bb8f
                ),
                accent: (
                        10: #bce049,
                        50: #99b93d,
                        90: #7d943c,
                ),
                neutral: (
                        10: #ffffff,
                        90: #000000
                ),
        ),
        dark: (
                base: (
                        10: #191919,
                        20: #333333,
                        30: #4C4C4C,
                        40: #666666,
                        50: #7F7F7F,
                        60: #999999,
                        70: #B3B3B3,
                        80: #CCCCCC,
                        90: #E6E6E6,
                ),
                primary: (
                        10: #0055FF,
                        90: #003ABBFF
                ),
                secondary: (
                        10: #00ffbb,
                        90: #00bb8f
                ),
                accent: (
                        90: #bce049,
                        50: #99b93d,
                        10: #7d943c,
                ),
                neutral: (
                        10: #ffffff,
                        90: #000000
                ),
        ),
);
