$semantic-tokens: (
        bg: (palette: base, tone: 10),
        bg-secondary: (palette: base, tone: 30),
        text: (palette: base, tone: 90),
        primary: (palette: primary, tone: 10),
        primary-hover: (palette: primary, tone: 90)
);
