$semantic-tokens: (
        bg: (palette: base, tone: 10),
        bg-primary: (palette: base, tone: 50),
        bg-secondary: (palette: base, tone: 30),

        accent: (palette: accent, tone: 50),
        accent-hover: (palette: accent, tone: 10),
        accent-active: (palette: accent, tone: 90),

        primary: (palette: primary, tone: 10),
        primary-hover: (palette: primary, tone: 90),


        border: (palette: base, tone: 80),
        border-accent: (palette: accent, tone: 90),

        text: (palette: base, tone: 90),
        text-accent: (palette: accent, tone: 90),



        button-bg: (palette: base, tone: 50),
        button-bg-hover: (palette: base, tone: 40),
        button-bg-active: (palette: base, tone: 60),

        button-bg-accent: (palette: accent, tone: 50),
        button-bg-accent-hover: (palette: accent, tone: 10),
        button-bg-accent-active: (palette: accent, tone: 90),

        button-border: (palette: base, tone: 80),
        button-text: (palette: base, tone: 80),



);
