$size: (
        none: 0,
        xxs: 4px,
        xs: 8px,
        sm: 10px,
        md: 16px,
        lg: 24px,
        xl: 32px,
        xxl: 50px,
        full: 100%,
        fit: fit-content,
);

@mixin size-vars {
  @each $key, $value in $size {
    --size-#{$key}: #{$value};
  }
}

// SCSS-переменные (сырьё)
$container-max-xs: 420px;
$container-max-sm: 710px;
$container-max-md: 960px;
$container-max-lg: 1200px;

// CSS-переменные (то, чем пользуешься в модулях)
// пример как использовать переменные
:root {
  --container-max: #{$container-max-lg};
}

@media (max-width: 1260px) {
  :root {
    --container-max: #{$container-max-md};
  }
}

@media (max-width: 1020px) {
  :root {
    --container-max: #{$container-max-sm};
  }
}

@media (max-width: 860px) {
  :root {
    --container-max: #{$container-max-xs};
  }
}
