@use '@/styles/tokens/space' as *;
@use '@/styles/tokens/radius' as *;

.Paper {
  background: var(--color-bg-primary);
  color: var(--color-text);
  padding: 0;
  margin: 0;
  border-radius: 0;

  &_color_secondary {
    background-color: var(--color-bg-secondary);
  }

  //генерация модификаторов по паддингам
  @each $key, $val in $space {
    &_padding_#{$key} {
      padding: $val;
    }
  }

  //генерация модификаторов по радиусу
  @each $key, $val in $radius {
    &_radius_#{$key} {
      border-radius: $val;
    }
  }

}
