@use '@shared/styles' as styles;

.Paper {
  display: flex;
  justify-content: center;
  background: var(--color-background-interface-base-light);
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: fit-content;
  height: fit-content;

  &_fullHeight {
    height: 100%;
  }

  &_fullWidth {
    width: 100%;
  }


  //генерация модификаторов по паддингам
  @each $key, $val in styles.$space {
    &_padding_#{$key} {
      padding: $val;
    }
  }

  //генерация модификаторов по радиусу
  @each $key, $val in styles.$radius {
    &_radius_#{$key} {
      border-radius: $val;
    }
  }

}
