.Header {
  background-color: var(--color-bg-secondary);
}

.Header_Content {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-max);
  padding-block: 20px;
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
}

.Header_Title {
  flex: 1;
  font-size: 60px;
}