.Board {
  width: var(--size-fit);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  background-color: var(--color-text-primary); // сетка
}
