.Square {
  background: #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.Square:hover {
  background: rgba(0, 255, 255, 0.10);
}

.Square_filled:hover {
  background: #fff;
}

.Square_highlighted {
  background: rgb(220, 132, 240);
}