.Stepper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.History {
  .Game_List {
    list-style:  none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 26px;
    li {
      min-height: 45px;
    }
  }
}

.Game_Button_accent {
  color: var(--color-text-accent);
  padding-inline-start: 10px;
}

.ListItem_accent::marker {
  color: var(--color-text-accent);
}