* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background-color: var(--color-bg);

 // min-height: 100vh;
}

.App-header {
  background-color: var(--color-bg-secondary);
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: end;
}

.App-footer {
  background-color: var(--color-bg-secondary);
  padding: 20px;
  margin-top: auto;
  display: flex;
  gap: 10px;
  justify-content: end;
}

.App-header-bt {
  background-color: var(--color-primary);
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}


