$radius: (
        none: 0,
        xxs: 4px,
        xs: 8px,
        sm: 10px,
        md: 16px,
        lg: 24px,
        xl: 32px,
        xxl: 50px
);

@mixin radius-vars {
  @each $key, $value in $radius {
    --radius-#{$key}: #{$value};
  }
}