@use 'utils' as utils;

$space: (
        none: 0,
        xxs: 4px,
        xs: 8px,
        sm: 10px,
        md: 16px,
        lg: 24px,
        xl: 32px,
        xxl: 50px
);

@mixin space-vars {
  @include utils.tokens-to-vars($space, 'space');
}