@use "sass:map";
@use 'palettes' as *;
@use 'semantic' as *;

/*Создание селекторов тем и переменных из карты тем и палетки в файле src/shared/styles/tokens/_palettes.scss +
цвета из src/shared/styles/tokens/_semantic.scss */

@each $theme-name, $palettes in $themes {
  //создается селектор темы
  .theme-#{$theme-name} {
    // создание переменных по
    @each $palette-name, $tones in $palettes {
      @each $tone, $value in $tones {
        --palette-#{$palette-name}-#{$tone}: #{$value};
      }
    }

    // семантические переменные
    @each $token, $data in $semantic-colors {
      $palette: map.get($data, palette);
      $tone: map.get($data, tone);
      --color-#{$token}: var(--palette-#{$palette}-#{$tone});
    }
  }

}
